<style>
    .table {
        --bs-table-bg: transparent;
        --bs-table-striped-color: #212529;
        --bs-table-striped-bg: rgba(0, 0, 0, 0.05);
        --bs-table-active-color: #212529;
        --bs-table-active-bg: rgba(0, 0, 0, 0.1);
        --bs-table-hover-color: #212529;
        --bs-table-hover-bg: rgba(0, 0, 0, 0.075);
        width: 100%;
        margin-bottom: 1rem;
        color: #212529;
        vertical-align: top;
        border-color: #dee2e6;
    }
    .table {
        caption-side: bottom; 
        border-collapse: collapse;
    }
    .table {
        display: table;
        border-collapse: separate;
        box-sizing: border-box;
        text-indent: initial;
        border-spacing: 2px;
        border-color: grey;
    }
    .table > tbody, .table >td, .table >tfoot, .table >th, .table >thead, .table >tr {
        border-color: inherit;
        border-style: solid;
        border-width: 0;
    }
    /* .table , tr, td{
        font-size: 15px;
    } */
    .table > tr {
        display: table-row;
        vertical-align: inherit;
        border-color: inherit;
    }
    .table > thead{
        display: table-header-group;
    }
    .table>:not(caption)>*>* {
        padding: .5rem .5rem;
        background-color: var(--bs-table-bg);
        border-bottom-width: 1px;
        box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
    }
    .table-striped>tbody>tr:nth-of-type(odd) {
        --bs-table-accent-bg: var(--bs-table-striped-bg);
        color: var(--bs-table-striped-color);
    }
    
</style>
<div class="es-wrapper-color">
    <!--[if gte mso 9]>
        <v:background xmlns:v="urn:schemas-microsoft-com:vml" fill="t">
            <v:fill type="tile" color="#f8f9fd"></v:fill>
        </v:background>
    <![endif]-->
    <table class="es-wrapper" width="100%" cellspacing="0" cellpadding="0">
        <tbody>
            <tr>
                <td class="esd-email-paddings" valign="top">
                    <table cellpadding="0" cellspacing="0" class="es-content esd-header-popover"
                        align="center">
                        <tbody>
                            <tr>
                                <td class="esd-stripe" align="center">
                                    <table bgcolor="#ffffff" class="es-content-body" align="center"
                                        cellpadding="0" cellspacing="0" width="100%">
                                        <tbody>
                                            <tr>
                                                <td class="es-p20t es-p20r es-p20l esd-structure"
                                                    align="left">
                                                    <table cellpadding="0" cellspacing="0" width="100%">
                                                        <tbody>
                                                            <tr>
                                                                <td width="560" class="esd-container-frame" align="center" valign="top">
                                                                    <table cellpadding="0" cellspacing="0"
                                                                        width="100%">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td align="left" class="esd-block-text" style="padding: 10px 0px;">
                                                                                    <p style="margin-bottom: 0; margin-top: 0; font-size: 18px; color: #D63D37;font-weight: bolder; border-bottom: 3px solid #D63D37; padding-bottom: 5px;">
                                                                                        Hi <%= fullName %>,</p>
                                                                                    <p style="margin-bottom: 0; margin-top: 0;padding-bottom: 5px; padding-top: 5px; ">
                                                                                        <strong>
                                                                                            <span style="font-size:18px;">Here's your daily task update!</span>
                                                                                        </strong>
                                                                                    </p>
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td align="left" class="esd-block-button" style="padding: 10px 0px;">
                                                                                    <a href="https://app.servicemind.asia" class="es-button es-button-1613561345057" target="_blank" style="background: #990000; color: white; border-color: #990000; text-decoration: none; padding: 5px 15px; border-radius: 5px;">Go to ServiceMind</a>
                                                                                </td>
                                                                            </tr>
                                                                            
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td width="560" class="esd-container-frame" align="center" valign="top">
                                                                    <table cellpadding="0" cellspacing="0"
                                                                        width="100%" style="padding-top: 20px;">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td align="left" class="esd-block-text" style="padding: 10px 0px;">
                                                                                    <p style="color: gray;">SUMMARY</p>
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td align="left">
                                                                                    <div style="padding:5px; width: 120px;height: 100px;background-color: #FBB877;text-align: center;border-radius: 10px;">
                                                                                        <p style="margin: 0;padding: 5px; font-size: 10px;">Open Service Request</p>
                                                                                        <h1 style="margin: 0;padding: 17px 10px;background-color: white;">1</h1>
                                                                                    </div>
                                                                                </td>
                                                                                <td align="left">
                                                                                    <div style="padding:5px; width: 120px;height: 100px;background-color: #DCE8C5;text-align: center;border-radius: 10px;">
                                                                                        <p style="margin: 0;padding: 5px; font-size: 10px;">Open Service Order</p>
                                                                                        <h1 style="margin: 0;padding: 17px 10px;background-color: white;">25</h1>
                                                                                    </div>
                                                                                </td>
                                                                                <td align="left">
                                                                                    <div style="padding:5px; width: 120px;height: 100px;background-color: #8ACAF9;text-align: center;border-radius: 10px;">
                                                                                        <p style="margin: 0;padding: 5px; font-size: 10px;">Open Survey Order</p>
                                                                                        <h1 style="margin: 0;padding: 17px 10px;background-color: white;">311</h1>
                                                                                    </div>
                                                                                </td>
                                                                                <td align="left">
                                                                                    <div style="padding:5px; width: 120px;height: 100px;background-color: #EDDE8A;text-align: center;border-radius: 10px;">
                                                                                        <p style="margin: 0;padding: 5px; font-size: 10px;">Overdue Work Order</p>
                                                                                        <h1 style="margin: 0;padding: 17px 10px;background-color: white;">4121</h1>
                                                                                    </div>
                                                                                </td>
                                                                            </tr>
                                                                            
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td width="560" class="esd-container-frame" align="center" valign="top">
                                                                    <table cellpadding="0" cellspacing="0"
                                                                        width="100%" style="padding-top:20px;">
                                                                        <tbody>
                                                                            <!-- <tr>
                                                                                <td align="left" class="esd-block-text" style="padding: 10px 0px;">
                                                                                    <p style="color: gray;">LISTS</p>
                                                                                </td>
                                                                            </tr> -->
                                                                            <tr>
                                                                                <td align="left">
                                                                                    <table class="table table-striped" style="--bs-table-bg: transparent;
                                                                                                --bs-table-striped-color: #212529;
                                                                                                --bs-table-striped-bg: rgba(0, 0, 0, 0.05);
                                                                                                --bs-table-active-color: #212529;
                                                                                                --bs-table-active-bg: rgba(0, 0, 0, 0.1);
                                                                                                --bs-table-hover-color: #212529;
                                                                                                --bs-table-hover-bg: rgba(0, 0, 0, 0.075);
                                                                                                width: 100%;
                                                                                                margin-bottom: 1rem;
                                                                                                color: #212529;
                                                                                                vertical-align: top;
                                                                                                border-color: #dee2e6;
                                                                                                caption-side: bottom;
                                                                                                border-collapse: collapse;
                                                                                                display: table;
                                                                                                border-collapse: separate;
                                                                                                box-sizing: border-box;
                                                                                                text-indent: initial;
                                                                                                border-spacing: 2px;
                                                                                                border-color: grey;
                                                                                                padding: .5rem .5rem;
                                                                                                background-color: var(--bs-table-bg);
                                                                                                border-bottom-width: 1px;
                                                                                                box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);">
                                                                                                    <thead style="display: table-header-group;background-color: var(--bs-table-bg);
                                                                                                    border-bottom-width: 1px;padding: .5rem .5rem;
                                                                                                    box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);">
                                                                                                        <tr style="background-color: var(--bs-table-bg);
                                                                                                        border-bottom-width: 1px;padding: .5rem .5rem;
                                                                                                        box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);">
                                                                                                            <th colspan="4" style="background-color: var(--bs-table-bg);
                                                                                                            border-bottom-width: 1px;padding: .5rem .5rem;
                                                                                                            box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);">
                                                                                                                <h3 style="text-align: left; padding: 0; margin: 0; color: #3C94DC;">Overdue Tasks - focus on these & get it done!</h3>
                                                                                                            </th>
                                                                                                        </tr>
                                                                                                    </thead>
                                                                                                    <tbody style="font-size: 15px;background-color: var(--bs-table-bg);
                                                                                                    border-bottom-width: 1px;padding: .5rem .5rem;
                                                                                                    box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);">
                                                                                                        <tr style="display: table-row;
                                                                                                        vertical-align: inherit;
                                                                                                        border-color: inherit;background-color: var(--bs-table-bg);
                                                                                                        border-bottom-width: 1px;
                                                                                                        box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
                                                                                                        --bs-table-accent-bg: var(--bs-table-striped-bg);
                                                                                                        color: var(--bs-table-striped-color);">
                                                                                                            <td style="background-color: var(--bs-table-bg);
                                                                                                            border-bottom-width: 1px;padding: .5rem .5rem;
                                                                                                            box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);">1</td>
                                                                                                            <td style="width: 48%;max-width: 48%;background-color: var(--bs-table-bg);
                                                                                                            border-bottom-width: 1px;padding: .5rem .5rem;
                                                                                                            box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);"><p style="text-overflow: ellipsis;font-size: 15px;"> Task Name Task Name Task Name Task Name </p></td>
                                                                                                            <td style="background-color: var(--bs-table-bg);
                                                                                                            border-bottom-width: 1px;padding: .5rem .5rem;
                                                                                                            box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);">Survey Order</td>
                                                                                                            <td style="background-color: var(--bs-table-bg);
                                                                                                            border-bottom-width: 1px;padding: .5rem .5rem;
                                                                                                            box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);">
                                                                                                                <span style="padding:2px 20px; font-size: 12px; background-color: #D54E55; color: white; border-radius: 5px;">
                                                                                                                    3 days overdue
                                                                                                                </span>
                                                                                                            </td>
                                                                                                        </tr>
                                                                                                        <tr style="display: table-row;
                                                                                                        vertical-align: inherit;
                                                                                                        border-color: inherit;background-color: var(--bs-table-bg);
                                                                                                        border-bottom-width: 1px;
                                                                                                        box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);">
                                                                                                            <td style="background-color: var(--bs-table-bg);
                                                                                                            border-bottom-width: 1px;padding: .5rem .5rem;
                                                                                                            box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);">2</td>
                                                                                                            <td style="width: 48%;max-width: 48%;background-color: var(--bs-table-bg);
                                                                                                            border-bottom-width: 1px;padding: .5rem .5rem;
                                                                                                            box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);"><p style="text-overflow: ellipsis;font-size: 15px;"> Task Name Task Name Task Name Task Name </p></td>
                                                                                                            <td style="background-color: var(--bs-table-bg);
                                                                                                            border-bottom-width: 1px;padding: .5rem .5rem;
                                                                                                            box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);">Work Order</td>
                                                                                                            <td style="background-color: var(--bs-table-bg);
                                                                                                            border-bottom-width: 1px;padding: .5rem .5rem;
                                                                                                            box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);">
                                                                                                                <span style="padding:2px 20px; font-size: 12px; background-color: #D54E55; color: white; border-radius: 5px;">
                                                                                                                    3 days overdue
                                                                                                                </span>
                                                                                                            </td>
                                                                                                        </tr>
                                                                                                        <tr style="display: table-row;
                                                                                                        vertical-align: inherit;
                                                                                                        border-color: inherit;background-color: var(--bs-table-bg);
                                                                                                        border-bottom-width: 1px;
                                                                                                        box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
                                                                                                        --bs-table-accent-bg: var(--bs-table-striped-bg);
                                                                                                        color: var(--bs-table-striped-color);">
                                                                                                            <td style="background-color: var(--bs-table-bg);
                                                                                                            border-bottom-width: 1px;padding: .5rem .5rem;
                                                                                                            box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);">3</td>
                                                                                                            <td style="width: 48%;max-width: 48%;background-color: var(--bs-table-bg);
                                                                                                            border-bottom-width: 1px;padding: .5rem .5rem;
                                                                                                            box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);"><p style="text-overflow: ellipsis;font-size: 15px;"> Task Name Task Name Task Name Task Name </p></td>
                                                                                                            <td style="background-color: var(--bs-table-bg);
                                                                                                            border-bottom-width: 1px;padding: .5rem .5rem;
                                                                                                            box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);">Survey Order</td>
                                                                                                            <td style="background-color: var(--bs-table-bg);
                                                                                                            border-bottom-width: 1px;padding: .5rem .5rem;
                                                                                                            box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);">
                                                                                                                <span style="padding:2px 20px; font-size: 12px; background-color: #D54E55; color: white; border-radius: 5px;">
                                                                                                                    3 days overdue
                                                                                                                </span>
                                                                                                            </td>
                                                                                                        </tr>
                                                                                                    </tbody>
                                                                                                </table>
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td align="left">
                                                                                    <table class="table table-striped" style="--bs-table-bg: transparent;
                                                                                                --bs-table-striped-color: #212529;
                                                                                                --bs-table-striped-bg: rgba(0, 0, 0, 0.05);
                                                                                                --bs-table-active-color: #212529;
                                                                                                --bs-table-active-bg: rgba(0, 0, 0, 0.1);
                                                                                                --bs-table-hover-color: #212529;
                                                                                                --bs-table-hover-bg: rgba(0, 0, 0, 0.075);
                                                                                                width: 100%;
                                                                                                margin-bottom: 1rem;
                                                                                                color: #212529;
                                                                                                vertical-align: top;
                                                                                                border-color: #dee2e6;
                                                                                                caption-side: bottom;
                                                                                                border-collapse: collapse;
                                                                                                display: table;
                                                                                                border-collapse: separate;
                                                                                                box-sizing: border-box;
                                                                                                text-indent: initial;
                                                                                                border-spacing: 2px;
                                                                                                border-color: grey;
                                                                                                padding: .5rem .5rem;
                                                                                                background-color: var(--bs-table-bg);
                                                                                                border-bottom-width: 1px;
                                                                                                box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);">
                                                                                                    <thead style="display: table-header-group;background-color: var(--bs-table-bg);
                                                                                                    border-bottom-width: 1px;padding: .5rem .5rem;
                                                                                                    box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);">
                                                                                                        <tr style="background-color: var(--bs-table-bg);
                                                                                                        border-bottom-width: 1px;padding: .5rem .5rem;
                                                                                                        box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);">
                                                                                                            <th colspan="4" style="background-color: var(--bs-table-bg);
                                                                                                            border-bottom-width: 1px;padding: .5rem .5rem;
                                                                                                            box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);">
                                                                                                                <h3 style="text-align: left; padding: 0; margin: 0; color: #3C94DC;">Overdue Tasks - focus on these & get it done!</h3>
                                                                                                            </th>
                                                                                                        </tr>
                                                                                                    </thead>
                                                                                                    <tbody style="font-size: 15px;background-color: var(--bs-table-bg);
                                                                                                    border-bottom-width: 1px;padding: .5rem .5rem;
                                                                                                    box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);">
                                                                                                        <tr style="display: table-row;
                                                                                                        vertical-align: inherit;
                                                                                                        border-color: inherit;background-color: var(--bs-table-bg);
                                                                                                        border-bottom-width: 1px;
                                                                                                        box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
                                                                                                        --bs-table-accent-bg: var(--bs-table-striped-bg);
                                                                                                        color: var(--bs-table-striped-color);">
                                                                                                            <td style="background-color: var(--bs-table-bg);
                                                                                                            border-bottom-width: 1px;padding: .5rem .5rem;
                                                                                                            box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);">1</td>
                                                                                                            <td style="width: 48%;max-width: 48%;background-color: var(--bs-table-bg);
                                                                                                            border-bottom-width: 1px;padding: .5rem .5rem;
                                                                                                            box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);"><p style="text-overflow: ellipsis;font-size: 15px;"> Task Name Task Name Task Name Task Name </p></td>
                                                                                                            <td style="background-color: var(--bs-table-bg);
                                                                                                            border-bottom-width: 1px;padding: .5rem .5rem;
                                                                                                            box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);">Survey Order</td>
                                                                                                            <td style="background-color: var(--bs-table-bg);
                                                                                                            border-bottom-width: 1px;padding: .5rem .5rem;
                                                                                                            box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);">
                                                                                                                <span style="padding:2px 20px; font-size: 12px; background-color: #D54E55; color: white; border-radius: 5px;">
                                                                                                                    3 days overdue
                                                                                                                </span>
                                                                                                            </td>
                                                                                                        </tr>
                                                                                                        <tr style="display: table-row;
                                                                                                        vertical-align: inherit;
                                                                                                        border-color: inherit;background-color: var(--bs-table-bg);
                                                                                                        border-bottom-width: 1px;
                                                                                                        box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);">
                                                                                                            <td style="background-color: var(--bs-table-bg);
                                                                                                            border-bottom-width: 1px;padding: .5rem .5rem;
                                                                                                            box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);">2</td>
                                                                                                            <td style="width: 48%;max-width: 48%;background-color: var(--bs-table-bg);
                                                                                                            border-bottom-width: 1px;padding: .5rem .5rem;
                                                                                                            box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);"><p style="text-overflow: ellipsis;font-size: 15px;"> Task Name Task Name Task Name Task Name </p></td>
                                                                                                            <td style="background-color: var(--bs-table-bg);
                                                                                                            border-bottom-width: 1px;padding: .5rem .5rem;
                                                                                                            box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);">Work Order</td>
                                                                                                            <td style="background-color: var(--bs-table-bg);
                                                                                                            border-bottom-width: 1px;padding: .5rem .5rem;
                                                                                                            box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);">
                                                                                                                <span style="padding:2px 20px; font-size: 12px; background-color: #D54E55; color: white; border-radius: 5px;">
                                                                                                                    3 days overdue
                                                                                                                </span>
                                                                                                            </td>
                                                                                                        </tr>
                                                                                                        <tr style="display: table-row;
                                                                                                        vertical-align: inherit;
                                                                                                        border-color: inherit;background-color: var(--bs-table-bg);
                                                                                                        border-bottom-width: 1px;
                                                                                                        box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
                                                                                                        --bs-table-accent-bg: var(--bs-table-striped-bg);
                                                                                                        color: var(--bs-table-striped-color);">
                                                                                                            <td style="background-color: var(--bs-table-bg);
                                                                                                            border-bottom-width: 1px;padding: .5rem .5rem;
                                                                                                            box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);">3</td>
                                                                                                            <td style="width: 48%;max-width: 48%;background-color: var(--bs-table-bg);
                                                                                                            border-bottom-width: 1px;padding: .5rem .5rem;
                                                                                                            box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);"><p style="text-overflow: ellipsis;font-size: 15px;"> Task Name Task Name Task Name Task Name </p></td>
                                                                                                            <td style="background-color: var(--bs-table-bg);
                                                                                                            border-bottom-width: 1px;padding: .5rem .5rem;
                                                                                                            box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);">Survey Order</td>
                                                                                                            <td style="background-color: var(--bs-table-bg);
                                                                                                            border-bottom-width: 1px;padding: .5rem .5rem;
                                                                                                            box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);">
                                                                                                                <span style="padding:2px 20px; font-size: 12px; background-color: #D54E55; color: white; border-radius: 5px;">
                                                                                                                    3 days overdue
                                                                                                                </span>
                                                                                                            </td>
                                                                                                        </tr>
                                                                                                    </tbody>
                                                                                                </table>
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td align="left">
                                                                                    <table class="table table-striped" style="--bs-table-bg: transparent;
                                                                                                --bs-table-striped-color: #212529;
                                                                                                --bs-table-striped-bg: rgba(0, 0, 0, 0.05);
                                                                                                --bs-table-active-color: #212529;
                                                                                                --bs-table-active-bg: rgba(0, 0, 0, 0.1);
                                                                                                --bs-table-hover-color: #212529;
                                                                                                --bs-table-hover-bg: rgba(0, 0, 0, 0.075);
                                                                                                width: 100%;
                                                                                                margin-bottom: 1rem;
                                                                                                color: #212529;
                                                                                                vertical-align: top;
                                                                                                border-color: #dee2e6;
                                                                                                caption-side: bottom;
                                                                                                border-collapse: collapse;
                                                                                                display: table;
                                                                                                border-collapse: separate;
                                                                                                box-sizing: border-box;
                                                                                                text-indent: initial;
                                                                                                border-spacing: 2px;
                                                                                                border-color: grey;
                                                                                                padding: .5rem .5rem;
                                                                                                background-color: var(--bs-table-bg);
                                                                                                border-bottom-width: 1px;
                                                                                                box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);">
                                                                                                    <thead style="display: table-header-group;background-color: var(--bs-table-bg);
                                                                                                    border-bottom-width: 1px;padding: .5rem .5rem;
                                                                                                    box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);">
                                                                                                        <tr style="background-color: var(--bs-table-bg);
                                                                                                        border-bottom-width: 1px;padding: .5rem .5rem;
                                                                                                        box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);">
                                                                                                            <th colspan="4" style="background-color: var(--bs-table-bg);
                                                                                                            border-bottom-width: 1px;padding: .5rem .5rem;
                                                                                                            box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);">
                                                                                                                <h3 style="text-align: left; padding: 0; margin: 0; color: #3C94DC;">Overdue Tasks - focus on these & get it done!</h3>
                                                                                                            </th>
                                                                                                        </tr>
                                                                                                    </thead>
                                                                                                    <tbody style="font-size: 15px;background-color: var(--bs-table-bg);
                                                                                                    border-bottom-width: 1px;padding: .5rem .5rem;
                                                                                                    box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);">
                                                                                                        <tr style="display: table-row;
                                                                                                        vertical-align: inherit;
                                                                                                        border-color: inherit;background-color: var(--bs-table-bg);
                                                                                                        border-bottom-width: 1px;
                                                                                                        box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
                                                                                                        --bs-table-accent-bg: var(--bs-table-striped-bg);
                                                                                                        color: var(--bs-table-striped-color);">
                                                                                                            <td style="background-color: var(--bs-table-bg);
                                                                                                            border-bottom-width: 1px;padding: .5rem .5rem;
                                                                                                            box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);">1</td>
                                                                                                            <td style="width: 48%;max-width: 48%;background-color: var(--bs-table-bg);
                                                                                                            border-bottom-width: 1px;padding: .5rem .5rem;
                                                                                                            box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);"><p style="text-overflow: ellipsis;font-size: 15px;"> Task Name Task Name Task Name Task Name </p></td>
                                                                                                            <td style="background-color: var(--bs-table-bg);
                                                                                                            border-bottom-width: 1px;padding: .5rem .5rem;
                                                                                                            box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);">Survey Order</td>
                                                                                                            <td style="background-color: var(--bs-table-bg);
                                                                                                            border-bottom-width: 1px;padding: .5rem .5rem;
                                                                                                            box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);">
                                                                                                                <span style="padding:2px 20px; font-size: 12px; background-color: #D54E55; color: white; border-radius: 5px;">
                                                                                                                    3 days overdue
                                                                                                                </span>
                                                                                                            </td>
                                                                                                        </tr>
                                                                                                        <tr style="display: table-row;
                                                                                                        vertical-align: inherit;
                                                                                                        border-color: inherit;background-color: var(--bs-table-bg);
                                                                                                        border-bottom-width: 1px;
                                                                                                        box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);">
                                                                                                            <td style="background-color: var(--bs-table-bg);
                                                                                                            border-bottom-width: 1px;padding: .5rem .5rem;
                                                                                                            box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);">2</td>
                                                                                                            <td style="width: 48%;max-width: 48%;background-color: var(--bs-table-bg);
                                                                                                            border-bottom-width: 1px;padding: .5rem .5rem;
                                                                                                            box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);"><p style="text-overflow: ellipsis;font-size: 15px;"> Task Name Task Name Task Name Task Name </p></td>
                                                                                                            <td style="background-color: var(--bs-table-bg);
                                                                                                            border-bottom-width: 1px;padding: .5rem .5rem;
                                                                                                            box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);">Work Order</td>
                                                                                                            <td style="background-color: var(--bs-table-bg);
                                                                                                            border-bottom-width: 1px;padding: .5rem .5rem;
                                                                                                            box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);">
                                                                                                                <span style="padding:2px 20px; font-size: 12px; background-color: #D54E55; color: white; border-radius: 5px;">
                                                                                                                    3 days overdue
                                                                                                                </span>
                                                                                                            </td>
                                                                                                        </tr>
                                                                                                        <tr style="display: table-row;
                                                                                                        vertical-align: inherit;
                                                                                                        border-color: inherit;background-color: var(--bs-table-bg);
                                                                                                        border-bottom-width: 1px;
                                                                                                        box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
                                                                                                        --bs-table-accent-bg: var(--bs-table-striped-bg);
                                                                                                        color: var(--bs-table-striped-color);">
                                                                                                            <td style="background-color: var(--bs-table-bg);
                                                                                                            border-bottom-width: 1px;padding: .5rem .5rem;
                                                                                                            box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);">3</td>
                                                                                                            <td style="width: 48%;max-width: 48%;background-color: var(--bs-table-bg);
                                                                                                            border-bottom-width: 1px;padding: .5rem .5rem;
                                                                                                            box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);"><p style="text-overflow: ellipsis;font-size: 15px;"> Task Name Task Name Task Name Task Name </p></td>
                                                                                                            <td style="background-color: var(--bs-table-bg);
                                                                                                            border-bottom-width: 1px;padding: .5rem .5rem;
                                                                                                            box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);">Survey Order</td>
                                                                                                            <td style="background-color: var(--bs-table-bg);
                                                                                                            border-bottom-width: 1px;padding: .5rem .5rem;
                                                                                                            box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);">
                                                                                                                <span style="padding:2px 20px; font-size: 12px; background-color: #D54E55; color: white; border-radius: 5px;">
                                                                                                                    3 days overdue
                                                                                                                </span>
                                                                                                            </td>
                                                                                                        </tr>
                                                                                                    </tbody>
                                                                                                </table>
                                                                                </td>
                                                                            </tr>
                                                                            
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    
                    <table cellpadding="0" cellspacing="0" class="es-content" align="center">
                        <tbody>
                            <tr>
                                <td class="esd-stripe" align="center">
                                    <table bgcolor="#ffffff" class="es-content-body" align="center"
                                        cellpadding="0" cellspacing="0" width="100%">
                                        <tbody>
                                            <tr>
                                                <td class="es-p20t es-p20r es-p20l esd-structure"
                                                    align="left">
                                                    <table cellpadding="0" cellspacing="0" width="100%">
                                                        <tbody>
                                                            <tr>
                                                                <td width="560" class="esd-container-frame"
                                                                    align="center" valign="top">
                                                                    <table cellpadding="0" cellspacing="0"
                                                                        width="100%" style="padding-top:20px">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td align="center"
                                                                                    class="esd-block-text">
                                                                                    <p>Send us your <a
                                                                                            href="https://app.servicemind.asia"
                                                                                            target="_blank">feedback</a>!
                                                                                    </p>
                                                                                    <p><a href="https://app.servicemind.asia"
                                                                                            target="_blank">Unsubscribe</a>
                                                                                        from ServiceMind
                                                                                        Daily Digest.<span
                                                                                            data-cke-bookmark="1"
                                                                                            style="display: none;">&nbsp;</span>
                                                                                    </p>
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    
                </td>
            </tr>
        </tbody>
    </table>
</div>