<p style="margin-bottom: 25px;">Hii, <%= fullName %>,</p>
<p style="margin-bottom: 25px;">Please use the given QR code to collect the Parcel from the reception desk.</p>
<!-- <img src="<%= {{qrCode}} %>" > -->