<p style="margin-bottom: 25px;">Dear <%= fullName %>,</p>
<p style="margin-bottom: 25px;">Your account has been rejected by admin, Please contact to <%= Org %> organisation Admin.</p>

<p style="margin-bottom: 5px;">Sincerely,</p>
<p style="margin-top: 0px;"><%= Org %> Team</p>