<% /* Note: This is injected into `emails/layouts/default-layout.ejs` */ %>
<p style="margin-bottom: 25px;">Dear <%= fullName %>,</p>
<p style="margin-bottom: 25px;"><%= message %></p>
<div style="margin-bottom: 25px; text-align: center;">
    <a style="display: inline-block; font-size: 1.1em; color: #28AFB0;  font-weight: 500; text-decoration: underline;" href="<%= OTP %>">View All Pending Activation</a>
</div>
<p style="margin-bottom: 5px;">Sincerely,</p>
<p style="margin-top: 0px;"><%= orgName %> Team</p>