<% /* Note: This is injected into `emails/layouts/welcome-org-admin.ejs` */ %>
<p style="margin-bottom: 25px;">Dear <%= fullName %>,</p>
<p style="margin-bottom: 25px;">Welcome to Service Mind.</p>
<div style="margin-bottom: 25px; text-align: center;">
    <h3>Username: <%= username %></h3>
    <h3>Password: <%= password %></h3>
</div>
<p style="margin-bottom: 25px;">Login at <a href="https://servicemind.asia/verify-account/<%= uuid %>"><>Service Mind</a> with above mentioned details.</p>
<p style="margin-bottom: 5px;">Sincerely,</p>
<p style="margin-top: 0px;">The ServiceMind Team</p>