<p style="margin-bottom: 25px;">Dear <%= fullName %>,</p>
<p style="margin-bottom: 25px;">Your account has been verified by admin, you can now login and use the available services in the <%= Org %>.</p>
<div style="margin-bottom: 25px; text-align: center;">
  <a style="background-color: #28AFB0; display: inline-block; font-size: 1.1em; color: #fff; padding: 10px 35px 10px; font-weight: 500; text-decoration: none; border-radius: 7px;" href="<%=  url.resolve(urlData, '/login' ) %>">Click here to Login</a>
</div>
<p style="margin-bottom: 5px;">Sincerely,</p>
<p style="margin-top: 0px;"><%= Org %> Team</p>